<div class="drawer-container">
  <div class="drawer-profile-picture">
    <div class="profile-picture">
      <span>R</span>
    </div>
  </div>
  <div class="drawer-menu">
    <ng-container *ngFor="let route of routes">
      <div class="menu-item" [routerLink]="route.path">
        <div class="menu-item-icon">
          <mat-icon>{{ route.icon }}</mat-icon>
        </div>
        <div class="menu-item-text">
          {{ route.name }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
